{% load static%}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'tutor/main.css' %}">
</head>

<div class="section-1 box"></div>
<div class="section-2 box">
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'home' %}">
          <img class="resize" src="../../static/tutor/images/quickTutorlogowhite.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Login</a>
            <a class="nav-item nav-link" href="#">Register</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
<div class="section-3 box">
  <body>
  <h1>
    {% block title %}{% endblock %}
  </h1>
<p>
  Ea probari utilius tamquam ut. Attentum mutuatur ageretur rogassem ad existens me. Angelum immensi haberet ac credere in. Du erant de is falso vapor ei. Ac duratio inferri ipsarum ut ea aperire petitis. Profundum apparebat pertinere sum sic attributa. Ima bere via sola age dixi eram ille illa. Eo fallam se me latera ut obstat. 

Cerebella ii du attingere alligatus ac suspicari id eminenter. Ac in remotis exsolvi dicamne proxime ad an. Quam ei inge ea isti data soni ex duce. Tollentur co an im tantumque videlicet. Naturae viderer propria co an se is. Repugnemus ei an ob distinguit propositio id facultatem percipimus. Dubitare cur lor experiar extensum. 

Ha faciendam persuadeo tollentur ac si experirer expendere concipiam. Nudam istis cui majus vapor verba omnes usu vox eos. Falso cum scire porro edita firma istae ita hac. Bitavi si quorum figura eo ei. Hoc sitas inter rerum jam sua tum. Extitisse tot opiniones ens spectatum vos nonnullae. Longe ii ha utens fidam is primo magna ad. 

Est temporis age naturali alterius incedere. Vi im ex de durationem facultates consumerem archimedes cognoscere. Ex erat in toga quid. Id sumi poni novi ab quid ulla. Rei rea nonnulli una jam contendo judiciis. Requiratur materialis sed conservant jam nec accidentia discrepant affirmabam. Se adeo dixi nemo at de duce novo ad quia. Hausi in vapor se nulla at. Hanc vera more non lus quis uno pati sit idem. Rem sap tacitus existat sic dicendo. 

Pro removendo essentiae desuescam ens immittant fortassis. Hic quaecumque deprehendi quo conjunctam. Sua firma certi jaceo vul serio. Ac suae odor ea et ne luce. Stabilire etc corporeas somniorum infinitam ita subjectum excaecant. Contingit cognoscam infinitum usu rei admiserim scientiam attributa. 

Non via nia sex praemissae spectentur contingere respondeam. Has scriptis usu corporis physicae. Existentia lor perspicuum sub mutationum agnoscerem vis advertatur. Multo in entis ad rebus tactu oculi ad. Ii in innatis viderer me hominem at ipsemet. Vitro errem im is anima famam se istas. Mea credendas ero persuasum sanguinem vox. Sequeretur uti aut frequenter vul commendare describere. Ex superare aeternum ob connivet ac earumque co. Physicae fenestra obturabo ii is se. 

Mens ii du ipsi quas igni ii. Rationibus permittere exhibentur uno iis dei sim. Et nudi idem si suas fore toga. Ecclesiae gi opinionum du si spectatum delusisse corporeas abducerem. Quoniam neutrum nemoque ha ob ne at tempore. Visa agi meo non luce post data sui. Conversa his credimus una recordor scilicet supponam dubitans imo. Ponderibus mem uno rei effectibus concipitur deprehendi. Tangantur theologos percipiat potuerunt im ex gi continere. 

Persuasi fortasse aliaeque ex du supponit periculi. Abducendam imo his mem inchoandum geometriam conjunctam credidisse. Tur fal amen vix ipsa cum suae. An ut cognosco earundem credimus. De simus si vi utrum aliud omnis istas. Judicem studiis ac proponi nemoque ex. De quoties ex virorum effingo. De totamque de occurret an credenda referrem. 

Causis im si mo an talium juvare cumque tandem. Hinc quia inde rei mihi nec quum ibi. Ero sed componant iis mei perceptio probandum curiosius. Expectanti cognoscere repugnaret pertineant hae majestatis sum. Sumi nemo quia enim eo ei in novi. Imaginabar distinctae rei corporibus lor indefinite sum uti perspicuae. Idque is utili ex ii visum deest leone at. Scientiam eversioni ne animalium evidentes im dubitabam du tractarem. Visu ut duce de dico igni apti. 

Cera ad unde co ipsa ideo eo spem prae mo. Memoriae fatendum reversus uno eos habeatur. Remanetne ad eversioni de scriptura considero procedere eo se. Ei id ea ingenio remotis co humanam. Ego eversioni sap credendam per imo artificis. Ibi sua imaginabar supponatur antedictis. Tantaeque dat importare aut detrahere immittant experimur. 


</p>
</body>

</div>


</div>
<style>
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .box{
    height: auto;
    width: 100%;
  }
  .section-1{
    height: 50vh;
    background-image: url(../../static/tutor/images/library.jpeg);
    background-attachment: fixed;
    background-size: cover;
  }
</style>
      <!-- side bar
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
      -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      -->
</html>
  