{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'tutor/main.css' %}">

    <!-- Site title (shown in tab) -->
    <title>Quick Tutor</title>

    <!-- Site Icon (shown in tab)-->
    <link rel="shortcut icon" type="image/png" href="{% static 'tutor/images/QT.png' %}"/>
</head>

<body>

  <!-- Navbar -->
  <div class="section-2 box">
    <header class="site-header">
      <nav class="navbar navbar-expand-md static-top pt-0" style="position:top; background-image: url(../../../../static/tutor/images/rotunda5.jpeg); background-size: cover; min-height: 150px">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">
            <img style="max-width: 100px;" src="../../../../static/tutor/images/quickTutorlogowhite.png" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item" style="color: white; font-weight: bold; padding-right: 1em;" href="{% url 'home' %}">Home</a>
              <a class="nav-item" style="color: white; font-weight: bold; padding-right: 1em;" href="{% url 'profile_page' user.profile.id %}">Profile</a>
              <a class="nav-item" style="color: white; font-weight: bold; padding-right: 1em;" href="{% url 'inbox' %}">Requests</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a style="color: white; font-weight: bold; padding-right: 1em;" id="logout" href="{% url 'account_logout' %}" >Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <main role="main" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{%endif%} alert-dismissible" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="page-footer font-small footer py-3 static-bottom" style="text-align: center; background-color: #E6E6E6">
    <!-- Copyright and FAQ-->
    <div class="footer-copyright text-center d-inline ml-3 mr-3"><a class="text-dark" href="https://www.twitch.tv/caelumcv">©</a> 2020 Copyright: Team QT-314</div>
    <div class="text-center d-inline ml-3">
      <a class="text-dark" href="{% url 'FAQ' %}">FAQ</a>
    </div>
  </footer>

</body>
</html>
