{% extends "tutor/base.html" %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load static %}

{% block content %}
<body>
<div class="container" style = "padding:15px">
  <h2><i><center>QuickTutor Frequently Asked Questions</center></i></h2>
</div>
<div class="container">
  <h6>
      <b>Why can’t I see myself as an active tutor?</b>
      <p>The active tutor lists shows other active tutors in your community who are available to help you and/or other students. You do not see yourself on the active tutor’s list because you cannot request yourself as a tutor.  You will, however, show up as an active tutor for other users. To see if you are marked as active, check the Home page under “Current Tutor Status” or go to your Profile page and check your “status” information there.</p>
      <b>If I am an active tutor can I also request help from other tutors?</b>
      <p>Yes, of course! The QuickTutor app is designed to serve all students and encourage peer-to-peer academic support. 
    </p>
      <b>Can I submit multiple requests to various tutors?
    </b>
      <p>Yes, definitely. We understand students inquire for help on the same or different questions. Once a tutor has helped you, we highly encourage you to delete your tutor requests for the same question. This is so that others tutors can proceed to help other students! 
    </p>
      <b>How do I cancel my request for a tutor?
    </b>
      <p>Go to the “Requests” tab on the menu bar. Under the “Outgoing Tutor Requests” find the tutor request you wish to select. Click view details for the desired tutor request then select cancel request. This request will then be removed from your “Outgoing Tutor Requests” list.
    </p>
      <b>Where do I view my requests?
    </b>
      <p>Go to the Requests tab on the menu bar. Here you can view and manage your Outgoing Tutor Requests, Incoming Tutor Requests, and Current Client. 
    </p>
      <b>How do I submit a request for a tutor’s help?
    </b>
      <p>On the Home page, view the active tutor’s list for available tutors. Select the tutor’s name and this will redirect you to their Profile page. On the right side of their profile page there is a “Request as Tutor” option. Select this and fill out the relevant information per your academic needs, then click “Submit Question” to send your request.
    </p>
      <b>How do I know my request for a tutor’s help was accepted?
    </b>
      <p>When a tutor accepts your request for help, your request status under “Outgoing Tutor Request” will change from pending to accepted. You can view this by going to the Requests tab on the menu bar. The tutor will contact you shortly via text after accepting your request.
    </p>
      <b>How do I accept or decline a student’s request for assistance?
    </b>
      <p>Go to the Requests tab on the menu bar. It will redirect you to a page that shows all your outgoing and incoming requests, as well as your current client. You should look under incoming requests to see the students who have requested your help. Click on the student’s names to learn more about their request, then based on your availability and their academic needs you can select to accept or decline a request. Once you accept a student’s request they will appear under your “Current Client’s” and you can access their contact info there.
    </p>
      <b>How do I contact the student I accepted to help?
      </b>
      <p>Go to the “Requests” tab on the menu bar. Under “Current Client’s”, the student’s name will appear here. Select their name and this will redirect you to a page with the student’s name, contact information, and their question. You can text the student to coordinate where to meet. We encourage all students to follow and uphold safety measures, by meeting in public spaces during the daytime. 
    </p>
      <b>What do I do once I finish helping a student?
    </b>
      <p>After finishing with your current client, make sure to mark “Tutoring Completed”. Under “Current Client” you can select the student’s name and here you can find where to mark the tutoring session as completed. This confirms that you completed or ended your tutoring session with that student.
    </p>
      <b>How do I leave a rating for a tutor?
    </b>
      <p>You can share your experience with a tutor by leaving a rating. Go to the tutor’s profile page and click “Leave Rating”, here you can provide your feedback based on your experience. This will be uploaded to the tutor’s rating score on their profile.
    </p>
      <b>Why do I have to select a location to mark myself as an active tutor? 
    </b>
      <p>We encourage tutors to choose a location so that students can request tutors that are nearby them for quicker response time. QuickTutor strives to offer quick peer-to-peer academic help and does this by limiting the wait time and/or travel time. Although it is not required to meet with tutors who are in the same building, we trust all users will uphold safety practices. 
    </p>
      <b>What Profile Picture size is recommended?
    </b>
      <p>At the moment, images are automatically resized to 300x300 pixels if the input picture is larger in either height or width. While you are welcome to upload images of larger sizes, there is a likelihood the resolution will not be as clear.
    </p>
</h6>
</div>

</body>
{% endblock content %}
