{% extends "tutor/base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-7">
		<div class="section-3 box">
			<h1><u>Active Tutors</u></h1>
			{% if tutors %}
				{% for tutor in tutors %}
					{% if tutor == user.profile %}
					{% else %}
						{% if tutor.major2 %}
							<div class="content-section">
								<h3><a class="tutor-listing" href="{% url 'profile_page' tutor.id %}">{{ tutor.first_name }} {{ tutor.last_name }} <small>Majors: {{tutor.major}}, {{tutor.major2}}</small></a></h3>
							</div>
						{% else %}
							<div class="content-section">
								<h3><a class="tutor-listing" href="{% url 'profile_page' tutor.id %}">{{ tutor.first_name }} {{ tutor.last_name }} <small>Major: {{tutor.major}}</small></a></h3>
							</div>
						{% endif %}
					{% endif%}
				{% endfor %}
			{% else %}
				<p>There currently aren't any active tutors</p>
			{% endif %}
		</div>
	</div>
    <div class="col-md-5">
    	<div class="content-section section-3">
        	<h3>Profile</h3>
          	<p class='text-muted'>The profile of the tutor you are viewing will appear here.
            	<ul class="list-group">
            		<li class="list-group-item list-group-item-light">Their info</li>
            	</ul>
          	</p>
        </div>
    </div>
</div>
{% endblock content %}
