<!--Google Login-->
{% load socialaccount %}
<!-- Bootstrap -->
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="view" style="height: 100%; opacity: 0.75; 
    background-image: linear-gradient(to bottom, rgb(34, 0, 187), rgba(255, 255, 255, 0)),
        url(../../static/tutor/images/library.jpeg); 
    background-repeat: no-repeat; background-size: cover; background-position: center center;">
        
        <img class="mx-auto" style="display: block; max-height: 50%;" src="../../static/tutor/images/quickTutorlogowhite.png">
        <p class="text-center" style="display: block; font-size: 4rem; font-weight: bold; font-family: ubuntu, arial; font-style: italic; color: white;">
            Get Help - Give Help
        </p>
        <a type="button" class="btn-light mx-auto" href="{% provider_login_url 'google' %}"
            style="display: block; text-align: center; width: 25rem; border-radius: 40px; font-size: 1.5rem; padding: 15px; font-family: ubuntu, Arial; font-style: italic;">
            Sign In to Get Started
        </a>
    </div>
</body>