{% extends "tutor/base.html" %}
{% load static %}

{% block content %}
    <div class="content-section mt-3 mb-3">
        <div class="section-3 box">
        	{% if user == object.sender %}
        		<h2>Requested Tutor: {{ object.receiver.profile.first_name }} {{ object.receiver.profile.last_name }}</h2>
        	{% else %}
            	<h2>Request From: {{ object.sender.profile.first_name }} {{ object.sender.profile.last_name }}</h2>
                {% if object.accepted %}
                    <h4>Contact Number: {{ object.sender.profile.phone_number }}</h4>
                {% endif %}
            {% endif %}
            <h4>Related course: {{ object.course }}</h4>
            <h4>Question:</h4>
            <p>{{ object.question }}</p>
            {% if object.sender == user %}
                {% if object.accepted %}
                    <h6>The tutor you requested has accepted your request! They will contact you shortly.</h6>
                {% elif object.declined %}
                    <h6>The tutor you requested has declined your question because they are busy or unable to answer it. You can delete this request with no consequences.</h6>
                    <a class="btn btn-outline-danger" href="{% url 'ask-delete' object.id %}">Delete Request</a>
                {% else %}
                    <a class="btn btn-outline-danger" href="{% url 'ask-delete' object.id %}">Cancel Request</a>
                {% endif %}
            {% elif object.receiver == user %}
                {% if object.accepted %}
                    <a class="btn btn-outline-info d-inline mt-3" href="{% url 'ask-complete' object.id %}">Tutoring Completed</a>
                {% else %}
                    <a class="btn btn-outline-success mt-3" href="{% url 'ask-accept' object.id %}">Accept</a>
                    <a class="btn btn-outline-danger mt-3" href="{% url 'ask-decline' object.id %}">Decline</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}