{% extends "tutor/base.html" %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'tutor/profile.css' %}">

<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <!-- User profile -->
      <div class="panel panel-default mt-2">
        <div class="media">
          <h1><img class="rounded-circle account-img align-middle" src="{{ profile.image.url }}" alt="...">{{ profile.first_name }} {{ profile.last_name }}</h1>
        </div>
      </div>

      <!-- User info -->
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">User info</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th><strong>Status</strong></th>
                {% if user.profile.active %}
                  <td>Active</td>
                {% else %}
                  <td>Inactive</td>
                {% endif %}
              </tr>
              <tr>
                <th><strong>Major(s)</strong></th>
                {% if profile.major2 %}
                  <td>{{ profile.major }}, {{ profile.major2 }}</td>
                {% else %}
                  <td>{{ profile.major }}</td>
                {% endif %}
              </tr>
              <tr>
                <th><strong>Description</strong></th>
                <td>{{ profile.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Tutor Ratings -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Ratings</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              {% if user == profile.user %}
                <tr>
                  <th><strong>Tutor Score</strong></th>
                  {% if profile.tutor_score == None %}
                    <td>Try tutoring other students to accrue ratings and build your tutor score.</td>
                  {% else %}
                    <td>{{ profile.tutor_score }}/10</td>
                  {% endif %}
                </tr>
              {% else %}
                <tr>
                  <th><strong>Tutor Score</strong></th>
                  {% if profile.tutor_score == None %}
                    <td>This user currently has no Tutor Score.</td>
                  {% else %}
                    <td>{{ profile.tutor_score }}/10</td>
                  {% endif %}
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Side Buttons -->
    <div class="col-xs-12 col-sm-3">
      {% if user == profile.user %}
        <!-- Edit profile -->
        <p>
          <a href="{% url 'edit_profile' profile.id %}" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
            Edit Profile
          </a>
        </p>
      {% else %}
        <!-- Contact user  *** If statement here?-->
        <p>
          <!-- Note: The request url takes a User id not a Profile id like elsewhere -->
          <a href="{% url 'request' profile.user.id %}" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
            Request Help
          </a>
        </p>

        <!--Leave a review-->
        <p>
          <a class="profile__contact-btn btn btn-lg btn-block btn-info" href="{% url 'review' profile.id %}">Leave Rating</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
