{% extends "tutor/base.html" %}
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'tutor/profile.css' %}">

{% block content %}
<div class="container mt-2">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <!-- User profile -->
      <div class="panel panel-default">
        <div class="media mt-3">
          <img class="rounded-circle account-img" src="{{ profile.image.url }}" alt="...">
          <div class="media-body">
            <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
            {% if profile.active %}
              <h4 style="display: inline;">Status: </h4>
              <h4 style="display: inline; color: green;">Active</h4>
            {% else %}
              <h4 style="display: inline;">Status: </h4>
              <h4 style="display: inline; color: red;">Inactive</h4>
            {% endif %}
            <p class="text-muted mt-2">{{ profile.description }}</p>
          </div>
        </div>
      </div>

      <!-- User info -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">User Info</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th><strong>Major(s)</strong></th>
                {% if profile.major2 %}
                  <td>{{ profile.major }}, {{ profile.major2 }}</td>
                {% else %}
                  <td>{{ profile.major }}</td>
                {% endif %}
              </tr>
              <tr>
                <th><strong>Courses</strong></th>
                <td>{{ profile.courses }}</td>
              </tr>
              {% if user == profile.user %}
                <tr>
                  <th><strong>Tutor Score</strong></th>
                  {% if profile.tutor_score == None %}
                    <td>Try tutoring other students to accrue ratings and build your tutor score.</td>
                  {% else %}
                    <td>{{ profile.tutor_score }}/10 <small>based on {{profile.num_ratings}} ratings</small></td>
                  {% endif %}
                </tr>
              {% else %}
                <tr>
                  <th><strong>Tutor Score</strong></th>
                  {% if profile.tutor_score == None %}
                    <td>This user currently has no Tutor Score.</td>
                  {% else %}
                    <td>{{ profile.tutor_score }}/10 <small>based on {{profile.num_ratings}} ratings</small></td>
                  {% endif %}
                </tr>
              {% endif %} 
            </tbody>
          </table>
        </div>
      </div>

      <!-- Community
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">Community</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th><strong>Status</strong></th>
                {% if profile.active %}
                  <td>Active</td>
                {% else %}
                  <td>Inactive</td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      -->

      <!-- Tutor Ratings -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Reviews</h4>
        </div>
        <div class="panel-body mb-3">
          {% if comments %}
            {% for comment in comments %}
              <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ comment.reviewer.profile.image.url }}">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile_page' comment.reviewer.profile.id %}">{{ comment.reviewer.profile.first_name }} {{ comment.reviewer.profile.last_name }}</a>
                  </div>
                  <p class="article-content">{{ comment.comment_text }}</p>
                  <p class="article-title">Rating: {{ comment.rating }}/10</p>
                </div>
              </article>
            {% endfor %}
          {% else %}
            <p class="mt-3 mb-3 ml-2">There currently are no reviews for this user.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 mt-4">
      {% if user == profile.user %}
        <!-- Edit profile -->
        <p>
          <a href="{% url 'edit_profile' profile.id %}" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
            Edit Profile
          </a>
        </p>
      {% else %}
        <!-- Contact user -->
        <p>
          <!-- Note: The request url takes a User id not a Profile id -->
          <a href="{% url 'request' profile.user.id %}" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
            Request as Tutor
          </a>
        </p>

        <!--Leave a review-->
        <p>
          <!-- Note: The request url takes a User id not a Profile id -->
          <a class="profile__contact-btn btn btn-lg btn-block btn-info" href="{% url 'review' profile.user.id %}">Leave Review</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
